<ion-view>
  <ion-tabs class="tabs-icon-top tabs-positive">

    <ion-tab title="Home" icon="ion-home" href="#/doctors/home">
      <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Profile" icon="ion-person" ng-click="profile()">
      <ion-nav-view name="profile-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Edit" icon="ion-ios-list-outline" ng-click="edit()">
      <ion-nav-view name="edit-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Sign-Out" icon="ion-log-out" ng-click="signout()">
    </ion-tab>

  </ion-tabs>
</ion-view>
