<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Add Call Points</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Amount</span>
        <input type="text" ng-model="transaction.amount">
      </label>
      <label class="item item-input">
        <span class="input-label">Credit Card Number</span>
        <input type="text" ng-model="transaction.card.number">
      </label>
      <div class="item item-input">
        <span class="input-label">Expiry Date</span>
        <select ng-model="transaction.card.exp_month">
          <option value="01">01</option>
          <option value="02">02</option>
          <option value="03">03</option>
          <option value="04">04</option>
          <option value="05">05</option>
          <option value="06">06</option>
          <option value="07">07</option>
          <option value="08">08</option>
        </select>
        <select ng-model="transaction.card.exp_year">
          <option value="2016">2016</option>
          <option value="2017">2017</option>
          <option value="2018">2018</option>
          <option value="2019">2019</option>
          <option value="2020">2020</option>
        </select>
      </div>
      <label class="item item-input">
        <span class="input-label">CVV</span>
        <input type="text" ng-model="transaction.card.cvc">
      </label>
      <div class="item text-center">
        <button style="width: 100px" class="button button-balanced" ng-click="pay()">Pay</button>
        <button style="width: 100px" class="button button-assertive" ng-click="closePopover()">Close</button>
      </div>
    </div>
  </ion-content>
</ion-modal-view>