<ion-view view-title="Register">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Name</span>
        <input type="text" ng-model="user.name">
      </label>
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="email" ng-model="user.email">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.password">
      </label>
      <label class="item item-input">
        <span class="input-label">Phone</span>
        <input type="text" ng-model="user.phoneNumber">
      </label>
      <div class="item text-center">
        <label>
          <input type="radio" ng-model="user.gender" value="M" />
          <span style="font-size: 16px">Male</span> &nbsp;&nbsp;&nbsp;
        </label>
        <label>
          <input type="radio" ng-model="user.gender" value="F">
          <span style="font-size: 16px">Female</span>
        </label>
      </div>
      <div class="item text-center">
        <label>
          <input type="radio" ng-model="user.type" value="patient" />
          <span style="font-size: 16px">I am a patient</span> &nbsp;&nbsp;&nbsp;
        </label>
        <label>
          <input type="radio" ng-model="user.type" value="doctor">
          <span style="font-size: 16px">I am a doctor</span>
        </label>
      </div>

      <label class="item item-input" ng-if="user.type=='doctor'">
        <span class="input-label">Specialization</span>
        <input type="text" ng-model="user.specialization">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-balanced" ng-click="register(user)" ng-disabled="state">
        Register
      </button>
      <p class="text-center">
        <a href="#/forgot-password">Forgot password</a>
      </p>
    </div>
  </ion-content>
</ion-view>
