<ion-view view-title="Sign In">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="text" ng-model="user.email">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.password">
      </label>
      <div class="item text-center">
        <label>
          <input type="radio" ng-model="user.type" value="patient" />
          <span style="font-size: 16px">I am a patient</span> &nbsp;&nbsp;&nbsp;
        </label>
        <label>
          <input type="radio" ng-model="user.type" value="doctor">
          <span style="font-size: 16px">I am a doctor</span>
        </label>
      </div>
    </div>
    <div class="padding">
      <button class="button button-block button-balanced" ng-click="signIn(user)" ng-disabled="state">
        Sign-In
      </button>
      <button class="button button-block button-balanced" ng-click="register()">
        Register
      </button>
      <br />
      <hr />
      <br />
      <a class="button button-block button-royal" href="#/forgot-password">Forgot Password</a>
    </div>
  </ion-content>
</ion-view>
