<ion-view view-title="Doctors">
  <ion-content padding="true">
    <div class="card" ng-repeat="doctor in doctors">
      <div class="item item-text-wrap">
        <div class="row">
          <div class="col">
            <button class="button button-light ion-android-contact" style="font-size:25px">
            </button>
          </div>
          <div class="col col-50">
            <b>{{ doctor.name }}</b><br />
            <span style="font-style: italic;" ng-bind="doctor.specialization"></span><br />
            <span>Rs {{ doctor.rate }}/min</span>
          </div>
          <div class="col">
            <button class="button button-balanced button-small ion-ios-telephone" ng-click="makeCall(doctor.id)" style="font-size:15px;width: 30px;border-radius: 50%;"></button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
