<ion-view view-title="Profile">
  <ion-content padding="true">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Name</span>
        <span ng-bind="user.name"></span>
      </label>

      <label class="item item-input">
        <span class="input-label">Email</span>
        <span ng-bind="user.email"></span>
      </label>

      <label class="item item-input">
        <span class="input-label">Gender</span>
        <span ng-if="user.gender == 'M'">Male</span>
        <span ng-if="user.gender == 'F'">Female</span>
      </label>

      <label class="item item-input">
        <span class="input-label">Type</span>
        <span>Patient</span>
      </label>

      <label class="item item-input">
        <span class="input-label">Mobile</span>
        <span ng-bind="user.phoneNumber"></span>
      </label>

      <label class="item item-input">
        <span class="input-label">Call Points</span>
        <span ng-bind="user.callPoints"></span>
      </label>

      <button class="button button-energized button-block" ng-click="openPopover()">
        <span class="ion-android-add-circle" style="font-size: 18px"></span>
        <span> Call Points</span>
      </button>

      <button class="button button-block button-assertive" ng-click="edit()">
        <span class="ion-reply" style="font-size: 18px"></span>
        <span> Edit </span>
      </button>
    </div>
  </ion-content>
</ion-view>
