<ion-view view-title="Edit Profile">
  <ion-content padding="true">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Name</span>
        <input type="text" ng-model="user.name">
      </label>

      <label class="item item-input">
        <span class="input-label"> Mobile</span>
          <input type="text" ng-model = "user.phoneNumber">
        </span>
      </label>

      <label class="item item-input">
        <span class="input-label"> Rate (Rs / min)</span>
          <input type="text" ng-model = "user.rate">
        </span>
      </label>

      <div class="item text-center">
        <label>
          <input type="radio" ng-model="user.gender" value="M" />
          <span style="font-size: 16px">Male</span> &nbsp;&nbsp;&nbsp;
        </label>
        <label>
          <input type="radio" ng-model="user.gender" value="F">
          <span style="font-size: 16px">Female</span>
        </label>
      </div>

      <button class="button button-block button-balanced" ng-click="update(user)" ng-disabled="state">
        Update
      </button>
    </div>
  </ion-content>
</ion-view>
