<ion-view view-title="Home">
  <ion-content padding="true">
   	<div class="list">

      <h4 class="text-center">Hello, {{ user.name }}</h4>
      <br />
      <br />

      <label>    
        <button class="button button-energized button-block" ng-click="transfer()">
          <span class="ion-forward" style="font-size: 18px"></span>
          <span>Transfer Money to Bank</span>
        </button>
      </label>
    </div>
  </ion-content>
</ion-view>
