<ion-view view-title="Profile">
  <ion-content padding="true">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Name</span>
        <span ng-bind="user.name"></span>
      </label>

      <label class="item item-input">
        <span class="input-label">Email</span>
        <span ng-bind="user.email"></span>
      </label>

      <label class="item item-input">
        <span class="input-label">Gender</span>
        <span ng-if="user.gender == 'M'">Male</span>
        <span ng-if="user.gender == 'F'">Female</span>
      </label>

      <label class="item item-input">
        <span class="input-label">Type</span>
        <span>Doctor</span>
      </label>

      <label class="item item-input">
        <span class="input-label">Specialization</span>
        <span ng-bind="user.specialization"></span>
      </label>

      <label class="item item-input">
        <span class="input-label">Rate</span>
        <span ng-bind="user.rate"></span>
      </label>

      <label class="item item-input">
        <span class="input-label">Mobile</span>
        <span ng-bind="user.phoneNumber"></span>
      </label>

      <label class="item item-input">
        <span class="input-label">Call Points</span>
        <span ng-bind="user.callPoints"></span>
      </label>
    </div>
  </ion-content>
</ion-view>
